<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfApp2.Properties.Settings.auto76ConnectionString" connectionString="Data Source=KUROVD\SQL2016;Initial Catalog=auto76;Persist Security Info=True;User ID=SA;Password=8GjblNpd" providerName="System.Data.SqlClient" />
    <add name="WpfApp2.Properties.Settings.auto76ConnectionString_home" connectionString="Data Source=DESKTOP-OOTNEI5;Initial Catalog=auto76;Persist Security Info=True;User ID=SA;Password=29016879" providerName="System.Data.SqlClient" />
    <add name="auto76Entities" connectionString="metadata=res://*/auto76model.csdl|res://*/auto76model.ssdl|res://*/auto76model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUROVD\SQL2016;initial catalog=auto76;persist security info=True;user id=SA;password=8GjblNpd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="auto76Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUROVD\SQL2016;initial catalog=auto76;persist security info=True;user id=SA;password=8GjblNpd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>