<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfApp2.Properties.Settings.auto76ConnectionString_rs" connectionString="Data Source=46.229.187.177\WIN-15HHO7JCTJO,1433;Initial Catalog=auto76;Persist Security Info=True;User ID=SA;Password=123QWEasd" providerName="System.Data.SqlClient" />
    <add name="WpfApp2.Properties.Settings.auto76ConnectionString_work" connectionString="Data Source=KUROVD\SQL2016;Initial Catalog=auto76;Persist Security Info=True;User ID=SA;Password=8GjblNpd" providerName="System.Data.SqlClient" />
    <add name="WpfApp2.Properties.Settings.auto76ConnectionString" connectionString="Data Source=DESKTOP-OOTNEI5;Initial Catalog=auto76;Persist Security Info=True;User ID=SA;Password=29016879" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>